<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Haarp", "/", class: "navbar-brand" %>
    </div>
    <ul class="collapse navbar-collapse nav navbar-nav navbar-right">
      <li>
      <%= link_to checkout_path do %>
        CART ( <span id="cart-size"><%= current_cart.get_size %></span> )
      <% end %>
    </ul>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<li><%= link_to "PRODUCTS", welcome_path %></li>
      	<li><%= link_to "ABOUT", about_path %></li>
      	<li><%= link_to "CONTACT", contact_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>