<div class="row checkout">
	<div class="col-sm-12">
		<h1>Checkout</h1>
		<% if current_cart.cart_items.size == 0 %>
			<h1>No Items in Cart</h1>
		<% else %>
			<table class="table">
				<% current_cart.cart_items.includes(:product).each do |cart_item| %>
					<tr>
						<td class="hidden-xs"><%= image_tag cart_item.product.first_image(:thumb) if cart_item.product.images  %></td>
						<td><%= link_to cart_item.product.name.upcase, cart_item.product %></td>
						<td><%= cart_item.quantity %></td>
						<td><%= number_to_currency cart_item.amount %></td>
					</tr>
				<% end %>
			</table>
			<div class="text-right">
				<%= link_to checkout_cart_path(current_cart) do %>
					<div class="btn btn-primary btn-lg">CHECKOUT</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>


