
<div class="row contact">
	<div class="col-sm-6">
		<%= image_tag "contact.jpg", class: "img-responsive" %>
	</div>
	<div class="col-sm-6">
		<h1>Contact</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris auctor iaculis leo, vitae tristique nulla ultrices in. Praesent fermentum, metus quis hendrerit vulputate, est elit iaculis nisl, vel molestie tortor odio vitae dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et iaculis purus.
		</p>
	</div>
</div>


