<div class="row">
	<div class="col-sm-6">
		<%= link_to products_path(tag: "canvas") do %>
			<div class="jumbotron text-center">
				<%= image_tag "canvas.jpg", class: "img-responsive" %>
	      <h1>Canvas</h1>
	    </div>
		<% end %>
	</div>
	<div class="col-sm-6">
		<%= link_to products_path(tag: "denim") do %>
			<div class="jumbotron text-center">
				<%= image_tag "denim.jpg", class: "img-responsive" %>
	      <h1>Denim</h1>
	    </div>
		<% end %>
	</div>
</div>