<div class="row">
  <%= form_for([:admin, @product], :html => { :multipart => true } ) do |f| %>
    <div class="col-sm-6">
      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: "form-control", rows: "10" %>
      </div>
      <div class="form-group">
        <%= f.label :price %><br>
        <%= f.text_field :price, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :tag_list %><br>
        <%= f.text_field :tag_list, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-6 images">
      <%= f.label :images %> - <%= link_to "New", "#nogo", id: "add-new-image" %><br>
      <%= f.fields_for :images do |image| %>
        <div class="form-group image">
          <div class="row">
            <div class="col-sm-6">
              <%= image_tag image.object.file.url(:croppable), class: "img-responsive" %><br>
            </div>
            <div class="col-sm-6">
              <%= image.file_field :file %>
            </div>
          </div>
          <%= image.check_box '_destroy' %> <%= image.label :_destroy, "Remove"%>
        </div>
      <% end %>
    </div>
    <div class="col-sm-12">
      <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
<br>
<script type="text/javascript">
  $(document).ready(function(){
    $("#add-new-image").on("click", function(){
      var index = $(".image").size()
      html = "<div class='form-group image'><div class='row'><div class='col-sm-6'><img class='img-responsive' src='/files/croppable/missing.png' alt='Missing'><br></div><div class='col-sm-6'><input type='file' name='product[images_attributes]["+index+"][file]' id='product_images_attributes_"+index+"_file'></div></div></div>"
      $(".images").append(html)
    })
  })
</script>

