@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300);

*{
	font-family: 'Open Sans', sans-serif;
}
h3{
	font-weight: 700;
}
.caption h3{
	color: #555;
}
a:hover{
	text-decoration: none;
}
.product{
	.detail{
		p{
			color: #555;
		}
		.name{
			font-weight: 700;
			font-size: 4em;
		}
		.description{
			color: darkgrey;
			font-size: 2em;
		}
		.price{
			font-size: 3em;
		}
	}
}
.navbar-nav{
	li{
		a{
			font-weight: 700;
			letter-spacing: 1px;
			line-height: 40px;
		}
	}
}
a.navbar-brand{
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 3em;
	line-height: 30px;
	height: 70px;
}
.navbar.navbar-default{
	border: none;
}
.navbar-toggle.collapsed{
	margin-top: 18px;
	margin-bottom: 18px;
}
.thumbnail{
	border: none;
}
.about{
	h1{
		font-size: 3em;
		font-weight: 700;
	}
	p{
		color: darkgrey;
		font-size: 2em;
	}
}
.contact{
	h1{
		font-size: 3em;
		font-weight: 700;
	}
	p{
		color: darkgrey;
		font-size: 2em;
	}
}
.checkout{
	h1{
		font-size: 3em;
		font-weight: 700;
	}
	table{
		tr{
			td{
				vertical-align: middle;
				font-size: 1.5em;
				a{
					color: #555;
					text-decoration: none;
					font-weight: 700;
					font-size: 1.5em;
				}
				a:hover{
					color: darkgrey;
					text-decoration: none;
				}
			}
		}
	}
}
h1.products{
	font-size: 3em;
	font-weight: 300;
	color: darkgrey;
}
.jumbotron{
	background: none;
	h1{
		color: #555;
		font-size: 4em;
	}
	h1:hover{
		color: black;
	}
}