<div class="col-sm-4">
	<%= link_to product do %>
		<div class="thumbnail">
		 	<%= image_tag product.first_image %>
		  <div class="caption text-center">
		    <h3><%= product.name.titleize %></h3>
		  </div>
		</div>
	<% end %>
</div>