<% if params[:tag] %>
  <h1 class="products"><%= params[:tag].titleize %></h1>
<% end %>
<div class="row">
  <% @products.each do |product| %>
    <%= render partial: "products/product", locals: {product: product} %>
  <% end %>
</div>


