<div class="row product">
	<div class="col-sm-6">
		<% @product.images.each do |image| %>
			<%= image_tag image.file.url(:original), class: "img-responsive" %>
		<% end %>
	</div>
	<div class="col-sm-6 detail">
		<p class="name">
		  <%= @product.name.titleize %>
		</p>

		<p class="description">
		  <%= @product.description %>
		</p>

		<p class="price">
		  <%= number_to_currency @product.price %>
		</p>

		<div>
			<%= link_to cart_items_path(cart_items: {product_id: @product.id, quantity: 1}), class: "btn btn-danger btn-lg", method: :post, remote: true do %>
				Add to Cart
			<% end %>
		</div>
	</div>
</div>


