<!DOCTYPE html>
<html>
<head>
  <title>Haarp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/header" %>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<%= yield %>
		</div>
	</div>
</div>


</body>
</html>
